[Desktop Entry]
Icon=
Name=Qt6Curve
Name[ar]=كيوت6 كيرف
Name[bs]=Qt6Curve
Name[ca]=Qt6Curve
Name[ca@valencia]=Qt6Curve
Name[cs]=Qt6Curve
Name[da]=Qt6Curve
Name[de]=Qt6Curve
Name[el]=Qt6Curve
Name[en_GB]=Qt6Curve
Name[eo]=Qt6Curve
Name[es]=Qt6Curve
Name[et]=Qt6Curve
Name[eu]=Qt6Curve
Name[fi]=Qt6Curve
Name[fr]=Qt6Curve
Name[gl]=Qt6Curve
Name[hi]=Qt6Curve
Name[ia]=Qt6Curve
Name[it]=Qt6Curve
Name[ka]=Qt6Curve
Name[ko]=Qt6Curve
Name[lt]=Qt6Curve
Name[nl]=Qt6Curve
Name[nn]=Qt6Curve
Name[pl]=Qt6Curve
Name[pt]=Qt6Curve
Name[pt_BR]=Qt6Curve
Name[ro]=Qt6Curve
Name[ru]=Qt6Curve
Name[sk]=Qt6Curve
Name[sl]=Qt6Curve
Name[sv]=Qt6Curve
Name[tr]=Qt6Curve
Name[uk]=Qt6Curve
Name[zh_CN]=Qt6Curve
Name[zh_TW]=Qt6Curve
X-KDE-Library=kwin3_qt6curve
